<section>
	<div class="row">
		<div class="col-sm-12">
			<div class="white-box set-height p-0" *ngIf="spaceDataModel != null">
				<form #formSpace="ngForm" novalidate>
					<div class="box-head">
						<h1 *ngIf="spaceDataModel.bookingId == ''" class="mt-1">Add Space</h1>
						<h1 *ngIf="spaceDataModel.bookingId != ''" class="mt-1">Update Space</h1>
						<div class="clear"></div>
					</div>
					<div class="view-history-call">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-field">
									<label>Meeting Title</label>
									<div class="input-field">
										<input type="text" placeholder="Meeting Title" #title="ngModel" name="title" [(ngModel)]="spaceDataModel.title" [hidden]="spaceDataModel.bookingId == null"
										 required />
										<div *ngIf="title.errors &&
															(title.dirty || title.touched || formSpace.submitted)" class="has-danger" role="alert">
											<span *ngIf="title.errors.required" class="has-danger">
												Meeting Title required.
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-field">
									<label>Organizer</label>
									<div class="input-field">
										<input type="text" placeholder="Organizer" #organizer="ngModel" name="organizer" [(ngModel)]="spaceDataModel.organizer" required
										/>
										<div *ngIf="organizer.errors &&
												(organizer.dirty || organizer.touched || formSpace.submitted)" class="has-danger" role="alert">
											<span *ngIf="organizer.errors.required" class="has-danger">
												Organizer required.
											</span>
										</div>
									</div>
								</div>
							</div>
							<!-- <div class="col-sm-12 mb-2">
								<div class="redio-box">
									<input #rdSelectDateAndTime="ngModel" id="rdSelectDateAndTime" class="css-checkbox" type="radio" name="isRecurring" [value]="false"
									 [(ngModel)]="spaceDataModel.isRecurring">
									<label for="rdSelectDateAndTime" class="css-label radGroup2">Select Date & Time</label>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="row">
									<div class="col-sm-2">
										<div class="form-field">
											<div class="input-field" *ngIf="!spaceDataModel.isRecurring">
												<datetime [(ngModel)]="spaceDataModel.noRecurringStartDate" [datepicker]="datepickerOpts" [readonly]="spaceDataModel.isRecurring"
												 [timepicker]="false" name="noRecurringStartDate"></datetime>
											</div>
											<div class='input-group date input-field' *ngIf="spaceDataModel.isRecurring" id='datetimepicker3'>
												<input style="background-color:lightgray" type='text' class="form-control" [(disabled)]="spaceDataModel.isRecurring" placeholder="Choose date"
												/>
												<div class="input-group-addon">
													<span class="glyphicon glyphicon-th"></span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-2">
										<div class="form-field">
											<div class="input-field" *ngIf="!spaceDataModel.isRecurring">
												<datetime [datepicker]="false" [(ngModel)]="spaceDataModel.noRecurringStartTime" [readonly]="true" name="noRecurringStartTime"></datetime>
											</div>
											<div class='input-group date input-field' *ngIf="spaceDataModel.isRecurring" id='datetimepicker3'>
												<input style="background-color:lightgray" type='text' class="form-control" [(disabled)]="spaceDataModel.isRecurring" placeholder="Set time"
												/>
												<span class="input-group-addon">
													<span class="glyphicon glyphicon-time"></span>
												</span>
											</div>
										</div>
									</div>
									<div class="col-sm-2">
										<div class="form-field">
											<div class="input-field" *ngIf="!spaceDataModel.isRecurring">
												<datetime [datepicker]="false" [(ngModel)]="spaceDataModel.noRecurringEndTime" [readonly]="true" name="noRecurringEndTime"></datetime>
											</div>
											<div class='input-group date input-field' *ngIf="spaceDataModel.isRecurring" id='datetimepicker3'>
												<input style="background-color:lightgray" type='text' class="form-control" [(disabled)]="spaceDataModel.isRecurring" placeholder="Set time"
												/>
												<span class="input-group-addon">
													<span class="glyphicon glyphicon-time"></span>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div> -->
						</div>
					</div>

					<!-- <div class="or-divider">
						<p>OR</p>
						<span></span>
					</div>
					<div class="add-visitor-or">
						<div class="overlay"></div>
						<div class="col-sm-12">
							<div class="row">
								<div class="col-sm-12 pl-0">
									<div class="redio-box">
										<input id="rdIsRecurring" class="css-checkbox" type="radio" name="isRecurring" [value]="true" [(ngModel)]="spaceDataModel.isRecurring">
										<label for="rdIsRecurring" class="css-label radGroup2">Recurring</label>
									</div>
								</div>

							</div>
							<div class="row">

								<div class="col-sm-2 mb-2 pl-0">

									<div class="form-field">
										<label>&nbsp;</label>
										<div class="select-field">
											<select class="form-control" #recurringType="ngModel" [(ngModel)]="spaceDataModel.recurringType" name="recurringType" [disabled]="!spaceDataModel.isRecurring">
												<option *ngFor="let rType of recurringTypes" [value]="rType.value">
													{{rType.type}}
												</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="form-field">
										<label>Start Time</label>
										<div class="input-field" *ngIf="spaceDataModel.isRecurring">
											<datetime [datepicker]="false" [(ngModel)]="spaceDataModel.recurringStartTime" [readonly]="!spaceDataModel.isRecurring" name="recurringStartTime"></datetime>
										</div>
										<div class='input-group date input-field' *ngIf="!spaceDataModel.isRecurring" id='datetimepicker3'>
											<input style="background-color:lightgray" type='text' class="form-control" placeholder="Set time" [(disabled)]="!spaceDataModel.isRecurring"
											/>
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-time"></span>
											</span>
										</div>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="form-field">
										<label>End Time</label>
										<div class="input-field" *ngIf="spaceDataModel.isRecurring">
											<datetime [datepicker]="false" [(ngModel)]="spaceDataModel.recurringEndTime" name="recurringEndTime" [disabled]="!spaceDataModel.isRecurring"></datetime>
										</div>
										<div class='input-group date input-field' *ngIf="!spaceDataModel.isRecurring" id='datetimepicker3'>
											<input style="background-color:lightgray" type='text' class="form-control" placeholder="Set time" [(disabled)]="!spaceDataModel.isRecurring"
											/>
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-time"></span>
											</span>
										</div>
									</div>

								</div>
							</div>
							<div class="row pt-3 pb-3" [hidden]="spaceDataModel.recurringType != 0">
								<div class="col-sm-3 pl-0">
									<div class="form-field">
										<div class="redio-box">
											<input #dailyType="ngModel" [disabled]="!spaceDataModel.isRecurring" id="rdEveryDay" class="css-checkbox" type="radio" name="dailyType"
											 [value]="false" [(ngModel)]="spaceDataModel.isEveryWeekDay" />
											<label class="css-label radGroup2" for="rdEveryDay">
												Every
												<input type="number" min="1" maxlength="2" class="input-underline width50" [value]="spaceDataModel.isEveryWeekDay ? 1 : spaceDataModel.recurringFrequency"
												 [(ngModel)]="spaceDataModel.recurringFrequency" name="dailyRecurringFrequency" [disabled]="!spaceDataModel.isRecurring"
												/> day(s)
											</label>
										</div>
									</div>
								</div>
								<div class="col-sm-3" [hidden]="spaceDataModel.recurringType != 0">
									<div class="form-field">
										<div class="redio-box">
											<input [disabled]="!spaceDataModel.isRecurring" id="rdEveryWeekDay" class="css-checkbox" type="radio" name="dailyType" [value]="true"
											 [(ngModel)]="spaceDataModel.isEveryWeekDay">
											<label class="css-label radGroup2" for="rdEveryWeekDay">Every Weekday</label>
										</div>
									</div>
								</div>
							</div>

							<div class="row" [hidden]="spaceDataModel.recurringType != 1">
								<div class="form-field">
									<label class="css-label radGroup2">
										Recur every
										<input type="number" min="1" maxlength="2" class="input-underline" [(ngModel)]="spaceDataModel.recurringFrequency" name="weeklyRecurringFrequency"
										 [disabled]="!spaceDataModel.isRecurring" /> week(s) on:
									</label>
								</div>
							</div>
							<div class="row mb-3" [hidden]="spaceDataModel.recurringType != 1">
								<div class="col-12">
									<ul class="list-day-select">
										<li class="col-sm-4 p-0" *ngFor="let wDay of weekDays">
											<a (click)="onDaySelect(wDay)" [ngClass]="(wDay.value)?'selectedDay':''" [class.selectedDay]="wDay.value" name="{{wDay.day}}">{{wDay.day}}</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="row" [hidden]="spaceDataModel.recurringType != 2">
								<div class="form-field">
									<label class="css-label radGroup2">
										Day
										<input type="number" min="1" maxlength="2" class="input-underline" name="recurringDayDetail" [(ngModel)]="spaceDataModel.recurringDayDetail"
										 [disabled]="!spaceDataModel.isRecurring" /> of every
										<input type="number" min="1" maxlength="2" class="input-underline" name="recurringFrequency" [(ngModel)]="spaceDataModel.recurringFrequency"
										 [disabled]="!spaceDataModel.isRecurring" /> month(s)
									</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2">
								<div class="form-field">
									<label>Start Date</label>
									<div class="input-field">
										<datetime [(ngModel)]="spaceDataModel.recurringStartDate" [datepicker]="datepickerOpts" [timepicker]="false" name="recurringStartDate"
										 id="recurringStartDate" *ngIf="spaceDataModel.isRecurring"></datetime>
										<div class='input-group date input-field' *ngIf="!spaceDataModel.isRecurring" id='datetimepicker3'>
											<input style="background-color:lightgray" type='text' class="form-control" placeholder="Choose date" [(disabled)]="!spaceDataModel.isRecurring"
											/>
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-th"></span>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="form-field">
									<label>End Date</label>
									<div class="input-field">
										<datetime [(ngModel)]="spaceDataModel.recurringEndDate" *ngIf="spaceDataModel.isRecurring" [datepicker]="datepickerOpts"
										 [timepicker]="false" name="recurringEndDate" [disabled]="!spaceDataModel.isRecurring"></datetime>
									</div>
									<div class='input-group date input-field' *ngIf="!spaceDataModel.isRecurring" id='datetimepicker3'>
										<input style="background-color:lightgray" type='text' class="form-control" placeholder="Choose date" [(disabled)]="!spaceDataModel.isRecurring"
										/>
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-th"></span>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div> -->

					<event-booking [model]="spaceDataModel" (weekdays)="getWeekDays($event)"></event-booking>

					<div>
						<div class="col-sm-6">
							<div class="view-history-call1">
								<div class="form-field">
									<label>Select Amenities</label>
									<div class="select-field">
										<select class="form-control" #amenityId="ngModel" [(ngModel)]="spaceDataModel.amenityId" name="amenityId" (change)="onAmenityChange($event, spaceDataModel.amenityId)">
											<option *ngFor="let amnt of amenities" [value]="amnt.amenityId">
												{{amnt.amenityName}}
											</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="or-divider">
						<span></span>
					</div>

					<div>
						<div class="col-sm-6">
							<div class="view-history-call1">
								<div class="form-field">

									<div>Total Cost:
										<b *ngIf="totalCost">{{totalCost | currency:'USD':true }}</b>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="or-divider">
						<span></span>
					</div>

					<div>
						<div class="col-sm-8">
							<div class="view-history-call1">
								<div class="form-field">
									<label>Add Notes</label>
									<div class="textarea-field">
										<textarea #notes="ngModel" name="notes" [(ngModel)]="spaceDataModel.notes" placeholder="Description" required></textarea>
										<div *ngIf="notes.errors &&
														(notes.dirty || notes.touched || formSpace.submitted)" class="has-danger" role="alert">
											<span *ngIf="notes.errors.required" class="help-block has-danger">Note required.</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div>
						<div class="col-sm-12">
							<div class="view-history-call1">
								<div class="form-field">
									<div class="check-box mt-1">
										<input name="canBeBooked" [(ngModel)]="spaceDataModel.canBeBooked" (change)="onCanBeBookedChange($event)" type="checkbox"
										 class="css-checkbox" id="canBeBooked">
										<label for="canBeBooked" name="canBeBooked_label" class="css-label lite-green-check">Can be booked with</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12" *ngIf="spaceDataModel.canBeBooked">
							<div class="view-history-call1">
								<div class="row">
									<div class="col-sm-3" *ngFor="let amnt of canBeBookedarr">
										<div class="form-field">
											<div class="check-box">
												<input name="{{amnt.amenityId}}" [checked]="amnt.checked" (change)="onBookedwithAmenities($event, amnt)" type="checkbox"
												 class="css-checkbox" id="{{amnt.amenityId}}">
												<label [attr.for]="amnt.amenityId" name="amnt.amenityId" class="css-label lite-green-check">{{amnt.amenityName}}</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div *ngIf="amenityFacility?.data?.length>0">
							<div class="col-sm-12">
								<div class="view-history-call1">
									<div class="form-field">
										<a class="btn btn-sm btn-blue mt-1" (click)="showAdvanceSettings(spaceDataModel.amenityId)" title="Advanced Settings" data-toggle="modal" data-target="#advanceSettings">
											Advanced Settings
										</a>
									</div>
								</div>
							</div>
						</div>

					</div>


					<div class="box-footer text-right">
						<button type="button" class="btn btn-blue" routerLink="/{{_configuration.BuildingCode}}/space">Cancel</button>
						<button [disabled]="isSubmitted" (click)="onSubmit(formSpace.valid)" class="btn btn-blue">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--EOF 4Box-->
</section>